<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/select2.min.js"></script>
</body>
</html>

<script>
    $(document).ready(function() {
        $('.select2').select2();

        $(".select2").select2({
            dropdownParent: $("#expenseModal"),
            width: '100%' 
        });

        $('#expenseModal').on('shown.bs.modal', function() {
            $('#expenseAmount').focus();
        });

        // select 2 dropdown for category  in expense modal fix parent modal

    });
</script>
