<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/select2.min.js"></script>
</body>
</html>

<script>
    $(document).ready(function() {
    // Initialize Select2 for the select inputs
    $('.select2').select2({
        dropdownParent: $("#expenseModal"), // Set the parent modal for the dropdown
        width: '100%', // Set the width of the dropdown to 100%
        tags: true,
        tokenSeparators: [',', ' '], // Allow multiple tags to be entered separated by comma or space
        createTag: function(params) {
            return {
                id: params.term,
                text: params.term,
                newOption: true
            };
        }
    });

    // Handle change event for select inputs to clear any validation errors
    $('.select2').on('change', function() {
        $(this).removeClass('is-invalid');
    });

    // Set focus to the expense amount input when the modal is shown
    $('#expenseModal').on('shown.bs.modal', function() {
        $('#expenseAmount').focus();
    });
});

</script>
